.topnav {
    background-color: #42423d;
    overflow: hidden;
    margin-left:-12px;
    margin-right:-8px;
    margin-top:-8px;
    
    
    
    
  }


  
.topnav a {
    float: left;
    color: #e07d0cf1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align:center;
    
    
    
  }

.topnav a:hover {
    background-color: #ff7b00;
    color: #f7f7ed;
    
  }
  

.topnav a.active {
    background-color: #ff7b00;
    color: white;
  }